{# <img class="team-slider" src="{{ bloginfo('stylesheet_directory') }}/style/images/team-screen.jpg"/> #}
<ul class="team-accordion">
	<div class="bios">
		<ul class="accordion">
		{% for member in feed %}
		<li class="member-bio slide" data-index="{{ loop.index }}">
			<div class="slide-container">
				<h2 class="name">{{ member.name }}</h2>
				<div class="info">
					<ul class="stats">
						{%  for stat in member.statistics %}
						<li class="stat"><span class="label">{{ stat.label }} </span> {{ stat.value }}</li>				
						{% endfor %}
					</ul>
					<div class="description">{{ member.bio }}</div>
				</div>
			</div>
		{% endfor %}
		</ul>
	</div>
	<div class="pics">
		<ul class="accordion">
		{% for member in feed %}
		<li class="member-pic slide" data-index="{{ loop.index }}" style="background-image:url({{ member.background.url }});">
			<span class="closed background" style="background-image:url({{ member.preview_bar.url }})"></span>
			<span class="video_trigger"></span>
			<div class="md-modal md-effect-13" id="modal-13">
				<div class="md-content">
					<iframe width="500" height="300" data-src="https://www.youtube.com/embed/{{ member.youtube_id }}" frameborder="0" allowfullscreen></iframe>			
					<button class="md-close">Close</button>
				</div>
			</div>
		{% endfor %}
		</ul>
	</div>
</ul>