{# <img class="team-slider" src="{{ bloginfo('stylesheet_directory') }}/style/images/team-screen.jpg"/> #}
<ul class="team-slider">
	{% for member in feed %}
	<li class="member slide">
		<div class="slide-container" style="background-image:url({{ member.background.url }});">
			<span class="close"></span>
			<div class="info">
				<span class="name">{{ member.name }}</span>
				<ul class="control">
					<li class="stats-bio">Stats & Bio</li>
					<li class="ig"><a href="http://www.instagram.com/{{ member.ig }}" target="_blank"></a></li>
					<li>
						{# <span class="play video_trigger"></span> #}
						<div class="md-modal md-effect-13" id="modal-13">
							<div class="md-content">
								{% if slide.service == "YouTube" %}
									<iframe width="800" height="600" data-src="https://www.youtube.com/embed/{{ member.youtube_id }}" frameborder="0" allowfullscreen></iframe>
								{% endif %}				
								<button class="md-close"></button>
							</div>
						</div>
						<div class="md-overlay"></div>
					</li>
				</ul>
				<div class="bio">
					<ul class="stats">
						{%  for stat in member.statistics %}
						<li class="stat"><span class="label">{{ stat.label }}:</span> {{ stat.value }}</li>				
						{% endfor %}
					</ul>
					<div class="description">{{ member.bio }}</div>
				</div>
			</div>
		</div>
		<div class="background closed" style="background-image:url({{ member.home_closed.url }});"></div>
	{% endfor %}
</ul>