<div class="blog-post">
	<div class="header-bar">
		<div class="social">
			<a class="facebook" href="http://www.facebook.com/sharer/sharer.php?u={{ post.permalink }}&title={{ post.post_title }}"></a>
			<a class="twitter" href="http://twitter.com/intent/tweet?status={{ post.post_title }}+{{ post.permalink }}"></a>
			<a class="gplus" href="https://plus.google.com/share?url={{ post.permalink }}"></a>
		</div>
		<span class="date">{{ post.post_date|date("m.d.Y") }}</span>
		<span class="comments">{{ post.comment_count }} Comments</span>
	</div>
	<div class="post">
		<a class="thumb videojs" href="{{ post.permalink }}"> 
			{% if post.video_id %}
			<span class="video_trigger"><img src="http://img.youtube.com/vi/{{ post.video_id }}/0.jpg"/></span>
			<div class="md-modal md-effect-13" id="modal-13">
				<div class="md-content">
					<iframe width="800" height="600" data-src="https://www.youtube.com/embed/{{ post.video_id }}" frameborder="0" allowfullscreen></iframe>			
					<button class="md-close"></button>
				</div>
			</div>
			{% else %}
				<img src="{{ post.thumbnail.src }}"/>
			{% endif %}
		</a>
		<div class="post-content">
			<h2 class="post-title"><a href="{{ post.permalink }}">{{ post.post_title }}</a></h2>
			<div class="post-text"><a href="{{ post.permalink }}">{{ post.content }}</a></div>
		</div>
	</div>
</div>