<div class="container">
{# Header #}
{{ header }}

{# Team Accordion #}
{{ team_slider }}

{# Blog Nav #}
{{ updates_nav }}

{# Video Feed #}
<div class="video-block">
	<span class="video-link">Play Video</span>
</div>
<ul class="videos">
	{{ video_feed }}
</ul>

{# Shop #}
<ul class="shop">
{{ product_feed }}
</ul>

{# Contact Form #}
{{ contact }}

{# Logos #}
<ul class="sponsors">
{{ sponsor_feed }}
</ul>

</div>