<div class="container">
{# Header #}
{{ header }}

{# Team Accordion #}
{{ team_slider }}

{# Blog Nav #}
{{ updates_nav }}

{# Video Feed #}
<div class="video-block videojs">
	<span class="video-link">Play Video</span>
	<div class="md-modal md-effect-13" id="modal-13">
		<div class="md-content">
			<iframe width="500" height="300" data-src="https://www.youtube.com/embed/3OoR6VyBNcE" frameborder="0" allowfullscreen></iframe>		
			<button class="md-close">Close</button>
		</div>
	</div>	
	<div class="md-overlay"></div>
</div>
<ul class="videos">
	{{ video_feed }}
</ul>

{# Shop #}
<ul class="shop">
{{ product_feed }}
</ul>

{# Contact Form #}
{{ contact }}

{# Logos #}
<ul class="sponsors">
{{ sponsor_feed }}
</ul>

</div>